/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.container {
  margin: 20px auto;
  width: 80%;
  
}

h1 {
  text-align: center;
}

nav{
  display: flex;
  float: left;
}

nav div {
  float: left;
  background-color: rgb(5, 5, 5);
  color: white;
  width: 100%;
  display: flex;
}

.menu-item{
  height: 70px;
  display: flex;
  flex-direction: row;
}
.menu-item p{
  display: inline-block;

}

.sidebar {
  float: left;
  background-color: black;
  color: white;
  margin-top: 50px;
}

.sidebar div {
  display: flex;
  padding: 10px;
}

section.courses {
  
}

.course {
 
}

.course img {
  width: 50%;
}

.articles {
  
}

footer {
  
}
body{
}
