body{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 1000px;
    height: 600px;
    background-color: red;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.resultado{
    width: 700px;
    height: 100px;
    background-color: black;
}