body{
    display: flex;
    margin-top: 250px;
    margin-left: 300px;
}
div{
    width: 200px;
    height: 250px;
    background-color: rgb(241, 204, 144);
    display: flex;
    margin-bottom: 20px;
    border: 1px solid black;
    position: relative;
    z-index: 0;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid black;
}
p{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-top: 175px;
    margin-left: 40px;
}
.dos{
    z-index: 2;
    display: flex;
    position: relative;
    transform: rotate(-75deg);
}
.tres{
    z-index: 3;
    transform: rotate(-140deg);
}
.cuatro{
    z-index: 4;
}
.uno{
    transform: rotate(-25deg);
}