body{
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5B5F5;
}
.escritorio {
    background-image: url(pixel.png);
    background-repeat: no-repeat;
    width: 1120px;
    height: 700px;
    border: 10px solid #AB91C4;
    border-radius: 30px;
}
.boton_posit{
    width: 190px;
    height: 125px;
    margin-top: 490px;
    margin-left: 180px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.escribir_posit{
    width: 400px;
    height: 400px;
    background-color: #F5F5BF;
    border: 5px solid #c1c18c;
    border-radius: 5px;
    display: none;              /*CAMBIAR ESTO PARA QUE NO SE VEA*/
    justify-content: center;
    align-items: center;
    margin-top: -65vh;
    margin-left: 45vh;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
.escribir_posit textarea{
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 5px;
}
.listo{
    width: 90px;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #AB91C4;
    margin-top: 30px;
}
.corcho{
    width: 310px;
    height: 210px;
    display: grid;
    margin-top: -22vh;
    margin-left: 78vh;
    transform: skew(29deg);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px; 
    grid-template-areas: 
        "uno dos tres"
        "cuatro cinco seis"
        "siete ocho nueve";
}
.corcho div{
    background-color: #F5F5BF;
    box-shadow: 1px 1px 10px;
    min-width: 0; 
    min-height: 0;
    display: none;
}
    #uno { grid-area: uno; }
    #dos { grid-area: dos; }
    #tres { grid-area: tres; }
    #cuatro { grid-area: cuatro; }
    #cinco { grid-area: cinco; }
    #seis { grid-area: seis; }
    #siete { grid-area: siete; }
    #ocho { grid-area: ocho; }
    #nueve { grid-area: nueve; }

.mirar_posit{
    width: 90px;
    height: 53px;
    transform: skew(10deg);
    background-color: transparent;
    border: none;
}
.mirar_posit {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  padding: 10px;
}